
 {%  extends 'base.html.twig' %}

 {%  block body %}

    <h2>les clients</h2>
  

   <h2> <a href="{{path('app_create')}}">Ajouter un client</a></h2>

   <!-- <table class="table">-->
      {% for Pin in  Pins %}
     <table class="table">
    
      <tr>
         <th scope="col">Nom</th>
         <th scope="col">Prenom</th>
         <th scope="col">Telephone</th>
         <th scope="col">Mail</th>
         <th scope="col">Marque</th>
         <th scope="col">Modele</th>
      </tr>
     
      <tr>
       
         <td scope="col">{{Pin.nom}}</td>
         <td scope="col">{{Pin.prenom}}</td>
         <td scope="col">{{Pin.telephone}}</td>
         <td scope="col">{{Pin.mail}}</td>
         <td scope="col">{{Pin.marque}}</td>
         <td scope="col">{{Pin.modele}}</td>
      </tr>
      </table>

    {%  else %}
    <p>veuiller ajouter un client</p>
    {%  endfor %}
    {%  endblock %}
 